<ng-container *ngIf="products; else loading">
  <div *ngIf="products.length === 0">
    <br>
    <div class="align-items-center ">
      No product found
    </div>
    <br>
  </div>
  <div class="row align-items-center latest_product_inner">
    <div *ngFor="let product of products">
      <div class="single_product_item">
        <div *ngIf="product?.s3ImagePath">
          <img src="{{product.s3ImagePath}}" alt="" width="250" height="250"/>
        </div>
        <div *ngIf="!product?.s3ImagePath">
          <img src="assets/img/product/product_4.png" alt="" width="250" height="250"/>
        </div> 
        <div class="single_product_text">
          <h4>{{product.name}}</h4>
          <h3>${{product.price}}</h3>
          <a (click)="edit(product.id)" class="add_cart">Edit<i class="ti-heart"></i></a>
          &nbsp;
          <a (click)="delete(product.id)" class="add_cart">Delete<i class="ti-heart"></i></a>
        </div> 
      </div>
    </div>
  </div>
  <!-- <div *ngIf="products.length !== 0">
    <app-pagination [collectionSize]="pageState.collectionSize" [pageSize]="pageState.pageSize" [page]="pageState.page"
      (pageChange)="onPage($event)" (pageSizeChange)="onPageSize($event)">
    </app-pagination>
  </div> -->
  
</ng-container>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>