<div class="container confirmation_part">

    <div class="row">
      <div class="col-lg-12 single_confirmation_details">
      <ng-container *ngIf="reviews; else loading">
        <a *ngIf="userRating">
          Average user rating: <i class="fa fa-star"></i> {{userRating}}
        </a> 
        <hr>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">User</th>
                <th scope="col">Rating</th>
                <th scope="col">Review</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!reviews || reviews.length === 0">
                <td colspan="10">No reviews made</td>
              </tr>
              <tr *ngFor="let review of reviews">
                <td>{{review.productId}}</td>
                <td>{{review.userId}}</td>
                <td>{{review.starRating}}</td>
                <td>{{review.remarks}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-pagination [collectionSize]="pageState.collectionSize" [pageSize]="pageState.pageSize" [page]="pageState.page"
          (pageChange)="onPage($event)" (pageSizeChange)="onPageSize($event)"></app-pagination>
      </ng-container>
    </div>
      <ng-template #loading>
        <app-spinner></app-spinner>
      </ng-template>
    </div>
</div>