<section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Cart</h2>
              <p>Home <span>-</span> Cart</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<div class="container">
    <div class="row">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <!-- <th scope="col">Description</th> -->
                                <th scope="col">Price</th>
                                <th scope="col" class="column-action"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="!cart || !cart.products || cart.products.length === 0; else showCart">
                                <tr>
                                    <td colspan="10">No product in cart</td>
                                </tr>
                            </ng-container>
                            <ng-template #showCart>
                                <tr *ngFor="let product of cart.products; index as i">
                                    <td>{{product.id}} {{product.name}}</td>
                                    <!-- <td>{{product.description}}</td> -->
                                    <td>${{product.price}}</td>
                                    <td class="column-action">
                                        <button class="btn btn-action" (click)="delete(product.id)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td class="cart-total">Subtotal:</td>
                                    <td>${{cart.totalPrice}}</td>
                                    <td></td>
                                </tr>
                                <tr class="shipping_area">
                                    <!-- <td></td> -->
                                    <td class="cart-total">Flat Rate Shipping:</td>
                                    <td>
                                        <a> $3</a>
                                    </td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                    <div class="checkout_btn_inner float-right">
                        <a class="btn_1" routerLink='/catalog'>Continue Shopping</a>
                        <a class="btn_1 checkout_btn_1"  routerLink='/checkout'>Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>