<div class="container confirmation_part">
  <div class="row">
    <div class="col-lg-12 single_confirmation_details">
          <p>Name: {{currentUser?.name}}</p>
          <p>Email: {{currentUser?.email}}</p>
          <p>Date Joined: {{currentUser?.createdAt}}</p>
      <!-- <button type="button" class="btn_3" [disabled]="formState.loading" routerLink="./edit">
        Edit Profile
      </button> -->
    </div>
  </div>
</div>

<!-- <ng-template #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="col-md-12 form-group p_star">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" aria-label="Name"
              [ngClass]="{ 'is-invalid': formState.errors.name }">
            <app-input-errors [errors]="formState.errors.name" label="Name">
            </app-input-errors>
          </div>
          
          <div class="col-md-12 form-group p_star">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" aria-label="Email"
              [ngClass]="{ 'is-invalid': formState.errors.email }" />
            <app-input-errors [errors]="formState.errors.email" label="Email">
            </app-input-errors>
          </div>
          <label class="error">{{error}}</label>
          <div class="col-md-12 form-group">
            <button type="submit" class="btn_3" [disabled]="formState.loading">
              Update
            </button>
           
            &nbsp;
            <button type="button" class="btn_3" [disabled]="formState.loading" (click)="close()">
              Cancel
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</ng-template> -->