<div class="container confirmation_part">
    <div class="row">
        <div class="col-lg-12 single_confirmation_details">
            <br>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="col-md-12 form-group p_star">
                    <input type="password" formControlName="oldPassword" class="form-control" aria-label="oldPassword"
                        placeholder="Old Password" [ngClass]="{ 'is-invalid': formState.errors.oldPassword }" />
                    <app-input-errors [errors]="formState.errors.oldPassword" label="Old Password"></app-input-errors>
                </div>
                <div class="col-md-12 form-group p_star">
                    <input type="password" formControlName="password" class="form-control" aria-label="Password"
                        placeholder="Password" [ngClass]="{ 'is-invalid': formState.errors.password }" />
                    <app-input-errors [errors]="formState.errors.password" label="Password"></app-input-errors>
                </div>
                <div class="col-md-12 form-group p_star">
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        aria-label="confirmPassword" placeholder="Confirm Password"
                        [ngClass]="{ 'is-invalid': formState.errors.confirmPassword }" />
                    <app-input-errors [errors]="formState.errors.confirmPassword" label="Password"
                        [messages]="{ match : 'Password does not match'}"></app-input-errors>
                </div>
                <label class="error">{{error}}</label>
                <div class="col-md-12 form-group">
                    <button type="submit" class="btn_3" [disabled]="formState.loading">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>