<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="banner_slider owl-carousel">
                    <div class="single_banner_slider">
                        <div class="row">
                            <div class="col-lg-5 col-md-8">
                                <div class="banner_text">
                                    <div class="banner_text_iner">
                                        <h1>Food expiring?</h1>
                                        <p>Find a last minute buyer and reduce waste. Don't waste your food.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="banner_img d-none d-lg-block">
                                <img src="assets/img/pizza-baking-fast-food.png" width="800">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-counter"></div>
            </div>
        </div>
    </div>
</section>

<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h1 class="mb-30">Testimonies</h1>
            <div class="row">
                <div class="col-lg-9">
                    <blockquote class="generic-blockquote">
                        <p class="comment">“This is a good platform for me to get rid of my soon to expiry food. Save the environment, don't waste food. ”</p>
                        <div class="media-body">
                            <h4>Jack Mclan</h4>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>     
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                    <blockquote class="generic-blockquote-right">
                        <p class="comment">“Innovative way to save the environment by not wasting food. Thumbs up!!”</p>
                        <div class="media-body text-right">
                            <h4>David Stockholm</h4>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>     
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <blockquote class="generic-blockquote">
                        <p class="comment">“I often throw away my food that are expiring. Now I can sell it to those who need it more.”</p>
                        <div class="media-body">
                            <h4>Bill Stanley</h4>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>                       
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

