
    <div class="single_product_item">
        <div *ngIf="product?.type === 'Cooked'">
            <img src="assets/img/product/product_1.png" alt="" />
        </div>
        <div *ngIf="product?.type === 'Fresh'">
            <img src="assets/img/product/product_2.png" alt="" />
        </div>
        <div *ngIf="product?.type === 'Canned'">
            <img src="assets/img/product/product_3.png" alt="" />
        </div>
        <div class="single_product_text">
            <h4>{{product.name}}</h4>
            <h3>${{product.price}}</h3>
            <a (click)="viewProduct()" class="add_cart">View<i class="ti-heart"></i></a>
        </div>
    </div>
