<div class="container" *ngIf="product">
  <br>
    <div class="row s_product_inner justify-content-between">
      <div class="col-lg-5 col-xl-6 row">
        <img src="{{product?.s3ImagePath}}" alt="" width="550" height="550" />
        <br>
      </div>
      <div class="col-lg-7 col-xl-6">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="col-md-12 form-group p_star">
              <label>Name</label>
              <input type="text" formControlName="name" class="form-control" aria-label="Name"
                  [ngClass]="{ 'is-invalid': formState.errors.name }" />
              <app-input-errors [errors]="formState.errors.name" label="Name">
              </app-input-errors>
          </div>
          <div class="col-md-12 form-group p_star">
              <label>Price</label>
              <input type="text" formControlName="price" class="form-control" aria-label="Price"
                  [ngClass]="{ 'is-invalid': formState.errors.price }">
              <app-input-errors [errors]="formState.errors.price" label="Price">
              </app-input-errors>
          </div>

          <div class="col-md-12 form-group p_star">
            <label>Description</label>
            <input type="text" formControlName="description" class="form-control" aria-label="Description"
                [ngClass]="{ 'is-invalid': formState.errors.description }">
            <app-input-errors [errors]="formState.errors.description" label="Description">
            </app-input-errors>
          </div>

          <div class="col-sm-12 form-group p_star">
            <label>Expiry Date (DD/MM/YYYY)</label>
            <input type="date" formControlName="expiry" class="form-control" aria-label="Expiry"
                placeholder="Enter expiry date"
                [ngClass]="{ 'is-invalid': formState.errors.expiry }" />
            <app-input-errors [errors]="formState.errors.expiry" label="Expiry Date" ></app-input-errors> 
          </div>
          
          <label class="error">{{error}}</label>
          <div class="col-md-12 form-group">
            <button type="submit" class="btn_3" [disabled]="formState.loading">
              Update
            </button>
            &nbsp;
            <button type="button" class="btn_3" [disabled]="formState.loading" 
              routerLink="/profile/products">
              Cancel
            </button>
          </div>
        </form>
      
      </div>
    </div>
  </div>