<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2>Careers</h2>
            <p>Home <span>-</span> Careers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="whole-wrap">
  <div class="container box_1170">
    <h1 class="mb-30">Java Software Engineer</h1>
    <div class="row">
      <div class="col-md-12 mt-sm-20">
        <h2>Responsibilities</h2>
        <p>· Responsible for the successful enhancement of software products and solutions by co-operating with other
          teams to ensure releases that are coordinated in terms of both time and technology.
          <br>
          · Design system architecture; translate user's requirements into functional and technical specifications.
          <br>
          · Participate and manage testing, debugging, verifying design and conduct reviews.
          <br>
          · Participate and manage data and solution migration.
          <br>
          · Assist pre-sale in architect technical solution.
          <br>
          · To perform other duties as and when required.
        </p>
        <h2>Skills Requirements</h2>
        <p>- Degree in Computer Science or Information Technology or equivalent.<br>
          - In-depth experience in Java<br>
          - Working knowledge of Object-Oriented<br>
          - Working knowledge on any web framework, with understand MVC concept on web based application<br>
          - Working knowledge on conceptualizing and designing web based application<br>
          - Preferable knowledge and experience in Spring and Hibernate Framework, Spring Boot, REST, Drools, HTML5,
          Oracle.<br>
          - Possess a passion in software engineering/development, with drives to be an effective team leader<br>
          - Ability to communicate effectively and clearly<br>
          - Show self-initiative in learning, and self-development<br>
          - Ability to work under pressure to deliver projects within the designated deadlines.<br>
          - At least 1 year of working experience.</p>
      </div>
    </div>
    <hr>
    <h1 class="mb-30">Project Manager</h1>
    <div class="row">
      <div class="col-md-12">
        <h2>Responsibilities</h2>
        <p>
          · Be responsible for engaging with the Customer Solutions analysts and developers to design, launch, and manage
          robust readiness and projects(s) for our data analytics’ organization.
          <br>
          · Have experience analyzing operational programs/projects metrics and trends to evaluate success of overall
          program
          <br>
          · Risk and Gap Analysis- Clearly able to identify and define risks and document to provide in progress reports –
          to the business
          <br>
          · Excellent Communications Skills (English) – able to communicate effectively with audiences of all levels and
          develop strong stakeholder relationships and maintain effective communication channels
          <br>
          · Project management - This position is does not require PMP level -formal project management skills- but does
          require significant experience managing to deadlines, holding others accountable, and maintaining program
          plan(s) with dependent efforts and major milestones
          <br>
          · Strong decision-making ability and a mature attitude<br>
        </p>

        <h2>Skills Requirements</h2>
        <p>
          - Must have a minimum of 2+ years of project management or similar experience
          <br>- Excel – intermediate to advanced excel skills (reporting)
          <br>- Strong Project Management experience- Ability to set goals and metrics and drive accountability for the
          team and each team member
          <br>- Prior experience in a role which required extensive facilitation and communications to various
          stakeholders
          <br>- 4-year Degree in Business (or equivalent)
          <br>- Ability to indirectly influence others and manage cross-functional groups of peers or more senior managers
          <br>- Strong work ethic, craftsmanship, and quality standards
          <br>- Comfortable acting with a clear sense of ownership, taking personal responsibility for decisions, actions,
          and failures
          <br>- Credible- you easily gain the trust and support of others and credit others for their accomplishments and
          contributions
          <br>- You get stuff done- You are a self-starter who steps up to handle new opportunities and tough challenges
          with a sense of urgency, high energy, and enthusiasm
          <br>
        </p>

      </div>
    </div>
  </div>
</div>