<ng-container *ngIf="orders; else loading">

  <div *ngIf="orders.length === 0">
    <br>
    <div style="text-align:center">
      No order found
    </div>
    <br>
  </div>
  <accordion>
    <ng-container *ngFor="let order of orders; index as i">
      <accordion-group heading="${{order.totalPrice}}" isOpen="{{openTab(i)}}">
        <table class="table table-footer stage-style">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
          <tr *ngFor="let item of order.items">
            <td>{{item.name}}</td>
            <td>${{item.price}}</td>
            <td>
              <button (click)="review(item.id)" class="btn_3">
                Review
              </button>
            </td>
          </tr>
        </table>

      </accordion-group>
    </ng-container>
  </accordion>
</ng-container>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>