<section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Terms and Condition</h2>
              <p>Home <span>-</span> Terms and Condition</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<div class="whole-wrap">
    <div class="container">
        <div>
            <h2 class="mb-30">Welcome to Food Saver</h2>
            <div class="row">
                <div class="col-md-12 mt-sm-20">
                    <p>These terms and conditions outline the rules and regulations for the use of Food Saver.
                    <br><br>
                    By accessing this website we assume you accept these terms and conditions. Do not continue to use Website Name if you do not agree to take all of the terms and conditions stated on this page.
                    <br><br>
                    The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision of the Company's stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
                    </p>
                </div>
            </div>
            <br>
            <h2 class="mb-30">Your Privacy</h2>
            <div class="row">
                <div class="col-md-12 mt-sm-20">
                <p>
                    At FoodSaver, we are committed to protecting your privacy. We use the information we collect about you to maximize the services that we provide to you. FoodSaver respects the privacy and confidentiality of the information provided by you and adheres to the Privacy Principles.
                    <br><br>
                    You may change your details at any time by advising us in writing via email. All information we receive from our customers is protected by our secure servers. FoodSaver’s secure server software encrypts all customer information before it is sent to us. Furthermore, all of the customer data FoodSaver collects is secured against unauthorized use or access. Credit card information is not stored by us on our servers.
                    <br><br>
                    You acknowledge, consent, and agree that Start Your Food Business may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to:
                    <br>
                    (a) comply with legal process;
                    <br>
                    (b) enforce the Terms;
                    <br>
                    (c) respond to claims that any Content violates the rights of third parties;
                    <br>
                    (d) respond to your requests for customer service; or
                    <br>
                    (e) protect the rights, property, or personal safety of Start Your Food Business, its directors, employees, associates, affiliates, users, or the public.
                    <br><br>
                    You understand that the Service and software embodied within the Service may include security components that permit digital materials to be protected, and that use of these materials is subject to usage rules set by Start Your Food Business and/or content providers who provide content to the Service. You may not attempt to override or circumvent any of the usage rules embedded into the Service. Any unauthorised reproduction, publication, further distribution, or public exhibition of the materials provided on the Service, in whole or in part, is strictly prohibited.
                </p>   
                </div>
            </div>
            <br>
            <h2 class="mb-30">License</h2>
            <div class="row">
                <div class="col-md-12 mt-sm-20">
                <p>
                    Unless otherwise stated, FoodSaver and/or its licensors own the intellectual property rights for all material on FoodSaver. All intellectual property rights are reserved. You may access this from FoodSaver for your own personal use subjected to restrictions set in these terms and conditions.
                    <br><br>
                    You must not:<br>
                    - Republish material from FoodSaver <br>
                    - Sell, rent or sub-license material from FoodSaver <br>
                    - Reproduce, duplicate or copy material from FoodSaver <br>
                    - Redistribute content from FoodSaver <br>
                    <br>
                    Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. FoodSaver does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of FoodSaver,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, FoodSaver shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
                    <br><br>
                    FoodSaver reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.
                    You warrant and represent that:
                    <br>
                    - You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;<br>
                    - The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;<br>
                    - The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy<br>
                    - The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.<br>
                    <br>
                    You hereby grant FoodSaver a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>   
                </div>
            </div>
        </div>
    </div>
</div>